@import url('./reset.css');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.form-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.form-control {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: all 250ms;
}

.form-control:hover {
  border-color: #000000;
}

.form-control:active,
.form-control:focus {
  border-color: #4e75ff;
  outline: none;
}

.btn {
  width: 91px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4e75ff;
  color: #ffffff;
  text-align: center;
  border: none;
}

.btn:hover {
  background-color: #6c8cff;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.picture-link {
  width: 360px;
  height: 200px;
  border: 1px solid #808080;
}

.picture-link img {
  width: 360px;
  height: 150px;
}

.picture-content {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 4px;
}

.picture-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.picture-title {
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.picture-sub-title {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  border: 8px solid #f3f3f353;
  border-top: 8px solid #4e75ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

span.loader {
  width: 16px;
  height: 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.new-btn {
  display: flex;
  margin: 0 auto;
  text-align: center;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 8px;
  background: #4e75ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  margin-top: 32px;
  margin-bottom: 44px;
}

.new-btn:hover {
  background-color: #6c8cff;
}

.label {
  font-size: 16px;
}

.label.is-hidden {
  display: none;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button:disabled {
  background-color: #8e8989;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}
